html{
    height: 100vh;
    width: 100vw;
}

#mainWindow{
    background-color: #008080;
    height: 90%;
    width: 100%;
}

#taskBar{
    background-color: #C0C0C0;
    height: 10%;
    width: 100%;
}